[2020-01-14 07:36] goern opened #10 "wrong commit hash if master merged into PR"
**Describe the bug**
If we merge the master branch into the PR (to update the PR) it seems like the check-run is not using the new merge commit, example: https://github.com/thoth-station/build-analyzers/pull/126

**To Reproduce**
1. have a PR with thamos check-run
2. click 'update from master' button on PR
3. see check-run disappear

**Expected behaviour**
the thamos check-run is updated based on

[2020-01-28 15:07] goern opened #14 "kebechet info"

[2020-01-29 12:51] #14 closed

[2020-01-29 12:52] goern commented on #10
we need to use the merge_commit_sha, that points to the head commit of the PR

[2020-02-04 17:18] saisankargochhayat opened #15 "Pipinstall error"
pipenv install --dev, throws and error with `regex==2019.11.1`
Full error - https://pastecode.xyz/view/1064f099
On deleting the Pipfile.lock and installing seemed to fix the issue. Do we need to replace the Pipfile.lock?

[2020-02-04 17:19] fridex commented on #15
Yes, please do so.

[2020-02-04 17:24] #15 closed

[2020-02-05 11:11] pacospace opened #17 "User feedback when inputs provided are wrong"
**Describe the bug**
When I use the App I want to receive back logs from Adviser when the workflow fails because of wrong inputs (e.g. .thoth.yaml provided is wrong)

**To Reproduce**
Steps to reproduce the behavior:
1. Open a PR in a repo with the App installed with wrong .thoth.yaml

**Expected behavior**
A justification is sent back to the user saying why adviser failed.

**Screenshots**
[code]

[2020-02-05 11:24] fridex commented on #17
Actually, this concrete issue looks like a bug in our openapi schema - user-api should validate input sent to endpoints, but it looks like we have not valid inputs:

https://github.com/thoth-station/user-api/blob/28a3ad7c9a46cf2612c034c06ab97f7c132c937d/openapi/openapi.yaml#L776-L778

The same might be true for requirements output (`pip`/`pipenv` vs `PIP`/`PIPENV`). Let's keep uppercase/lowercase

[2020-02-05 13:29] pacospace commented on #17
Perfect! Shall we change openapi enums to agree with adviser?

[2020-02-05 13:48] fridex commented on #17
OK, sounds good to me :+1:

[2020-02-08 10:50] #10 closed

[2020-02-08 10:50] todo[bot] opened #18 "do we need some marshaling here?"
https://github.com/thoth-station/Qeb-Hwt/blob/a8ed3cd6fd5c94667eb09c24592af99cc1592d55/app.py#L132-L137

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in a8ed3cd6fd5c94667eb09c24592af99cc1592d55 when #6 was merged. cc @goern.

[2020-02-08 10:50] todo[bot] opened #19 "add timeout to keep the github check status sane"
https://github.com/thoth-station/Qeb-Hwt/blob/a8ed3cd6fd5c94667eb09c24592af99cc1592d55/app.py#L150-L155

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in a8ed3cd6fd5c94667eb09c24592af99cc1592d55 when #6 was merged. cc @goern.

[2020-02-08 10:50] todo[bot] opened #20 "Find alternative solution to this workround"
https://github.com/thoth-station/Qeb-Hwt/blob/a8ed3cd6fd5c94667eb09c24592af99cc1592d55/app.py#L184-L189

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in a8ed3cd6fd5c94667eb09c24592af99cc1592d55 when #6 was merged. cc @goern.

[2020-02-17 07:57] pacospace opened #23 "GitHub App fails when Thamos has errors"
**Describe the bug**
A User of GitHub App submit a PR without a Pipfile, Qeb-Hwt App doesn't return any feedback to user.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a PR without Pipfile in repo with Qeb-Hwt App installed

**Expected behavior**
The exception error (e.g. Pipfile not provided) should be send back to user.

[2020-02-17 08:13] #23 closed

[2020-02-17 08:13] todo[bot] opened #25 "Split report results to include only relevant information"
https://github.com/thoth-station/Qeb-Hwt/blob/ce92a7db0e75ff9ffc739e70204ca0b116b3250d/app.py#L246-L251

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in ce92a7db0e75ff9ffc739e70204ca0b116b3250d when #24 was merged. cc @pacospace.

[2020-02-27 16:33] pacospace commented on #17
This can be closed as @fridex took care of it.

[2020-02-27 16:33] #17 closed

[2020-03-04 10:37] pacospace opened #31 "Workflow task fails with "failed to save outputs: timeout after 0s""
**Describe the bug**
This bus is known and it has been already solved upstream. We need to update argo version to 2.5.0 to have it

**To Reproduce**
Steps to reproduce the behavior:
1. Start thamos advise with following inputs
[code]

**Expected behavior**
Advise is delivered regarding the software stack.

**Screenshots**
[code]

**Additional context**
Argo bug solved: https://github.com/argoproj/

[2020-03-17 12:33] CermakM opened #32 "What can Kebechet do?"
As a user new to the Kebechet app, I don't really understand what it does or how I can use it. I want to have a clear and concise description of Kebechet's capabilities and how can I make use of them.

[2020-03-30 14:38] pacospace commented on #32
Thanks for the message :) Would you be happy to have more documentation regarding the app outputs with use cases?

[2020-03-30 14:46] pacospace commented on #19
What we want is a way to monitor created check runs (https://developer.github.com/v3/checks/runs/#get-a-check-run)?

There are two cases to be taken into account:

- If the PR is opened and user-api gives back error we do not create check run with `in progress` state but we directly put it in `failed` state: `Sorry, internal error, Qeb-Hwt will come back to you soon. ` We need to collect this type

[2020-04-02 18:03] CermakM commented on #32
Yea, certainly. An example use case would be great :)

[2020-04-15 07:18] goern opened #36 "No direct deps must not lead to failure"
**Describe the bug**
If a project does not have direct dependencies, Qeb-Hwt shall not result in a failed check-run.

**Expected behavior**
successful check run with the comment that there are no direct dependencies.

**Screenshots**
[check-run](https://imgur.com/3ge1Gbl)

**Additional context**
n/a

[2020-05-05 16:58] pacospace commented on #36
In adviser report it's shown as error, we point to the report with error although we say success? Maybe `neutral`? @goern

[2020-05-05 17:01] pacospace opened #44 "Error in parenthesis for json.loads in thamos advise workflow"
**Describe the bug**
Thamos advise fails because it cannot parse the json.

**To Reproduce**

**Expected behavior**
No failure for json formatter

**Screenshots**
[code]

[2020-05-05 21:19] pacospace opened #45 "Not all exceptions has body"
**Describe the bug**
Not all exceptions has body.

**Expected behavior**
Exception is handled correctly and reporter as error.

**Screenshots**
[code]

[2020-05-05 21:20] pacospace opened #46 ".thoth.yaml should be checked in the content, the presence is not enough"
**Describe the bug**
.thoth.yaml can be present but not having inputs for adviser: https://github.com/thoth-station/srcops-testing/blob/master/.thoth.yaml

**Expected behavior**
In this case qeb-hwt outer workflow should check if the .thoth.yaml file has all required inputs for adviser otherwise report back to the user asking to add required information to the configuration file.

**Screenshots**

[2020-05-14 07:35] pacospace opened #47 "Improve doc for use of runtime_environments"
See https://github.com/thoth-station/thamos/issues/413

[2020-05-14 07:38] pacospace commented on #36
@goern

[2020-05-22 09:52] #44 closed

[2020-05-22 09:52] #45 closed

[2020-05-22 10:41] goern opened #49 "remove these and use a 'namespace local imagestream name'"
https://github.com/thoth-station/Qeb-Hwt/blob/c1d7b645c28ed2a8384c78f90e1f31f44e5df1ba/openshift/qeb-hwt-template.yaml#L58

[2020-05-22 10:44] goern commented on #49
This could be removed, same for the WorkflowTemplate. And the imagestreamtag needs to be created in a thoth-application... https://github.com/thoth-station/thoth-application/blob/master/adviser/overlays/test/imagestreamtag.yaml and https://github.com/thoth-station/thoth-application/blob/master/adviser/overlays/stage/imagestreamtag.yaml

[2020-05-22 10:45] goern commented on #49
and from an GitOps point of view, the imagestreamtag must not be 'latest', as that is a moving target rather than a declarative way..

[2020-05-23 11:43] goern opened #50 "create screen cast for Qeb-Hwt GitHub App"
As a Thoth Product Owner,
I want to publish a screen cast,
so that I can demo what Qeb-Hwt GitHub App does
and so that I can explain whats in to Devs

Story-Points: 3
Key-Result: KR162

**Goal**
marketing

[2020-06-03 07:30] goern opened #52 "create more human-readable output for Qeb-Hwt"
Check output is pretty much raw JSON, this should be turned into a more human-readable format using markdown (if possible), see https://github.com/thoth-station/si-bandit/pull/3/checks?check_run_id=732214694

[2020-06-05 16:58] pacospace commented on #31
This bug is solved has we moved to `argo > 2.5.0`

[2020-06-05 16:58] #31 closed

[2020-06-05 17:00] pacospace commented on #32
https://github.com/thoth-station/Qeb-Hwt/issues/50

[2020-06-08 10:02] #49 closed

[2020-06-08 13:03] pacospace commented on #52
WDYT? @goern @fridex

[code]

[2020-06-15 13:23] pacospace commented on #52
@goern https://github.com/thoth-station/kebechet/pull/431/checks one example

[2020-06-16 06:21] #52 closed

[2020-06-16 06:21] todo[bot] opened #54 "Move logic to thoth-lab"
https://github.com/thoth-station/qeb-hwt/blob/0a2737448950ff5817330b2d3ee20d421e38b094/app.py#L277-L282

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 0a2737448950ff5817330b2d3ee20d421e38b094 when #53 was merged. cc @pacospace.

[2020-06-16 06:21] sesheta opened #55 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 006fb05259545d41bedd6649e3b3242404e884e6.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-06-16 06:21] sesheta opened #56 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 006fb05259545d41bedd6649e3b3242404e884e6.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2020-06-16 06:57] goern opened #57 "Add a provenance check to each PR"
As Qeb-Hwt,
I want to run a provenance check,
so that I can add an informative check to each PR

[2020-06-18 11:05] #47 closed

[2020-06-18 11:05] sesheta commented on #56
Automatic dependency update still failing for the current master with SHA cd25430bca241e418941ab484d300cc5b086b3e2.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-06-18 15:08] sesheta commented on #56
Automatic dependency update still failing for the current master with SHA cca174665dfd1cb88b8c8325a66533705b3ecf13.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-06-18 15:29] todo[bot] opened #61 "Move logic to thoth-lab or new component"
https://github.com/thoth-station/qeb-hwt/blob/8f8cf1aa8f061e2fad08a1b2e7345c6d484f0b8f/app.py#L277-L280

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 8f8cf1aa8f061e2fad08a1b2e7345c6d484f0b8f when #58 was merged. cc @pacospace.

[2020-06-18 15:30] sesheta commented on #56
Automatic dependency update still failing for the current master with SHA acd8143b5b9840a827a46ed64320442787c66ed3.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-06-25 15:09] pacospace opened #62 "add source_type to User API Post request to start analyzing Thoth integrations statistics [5pt]"
**Is your feature request related to a problem? Please describe.**
Post request to User-API should use source_type so that we can track Thoth integrations using adviser.

**Additional context**
[thamos](https://github.com/thoth-station/thamos)

[2020-06-25 16:30] pacospace opened #63 "Start using thoth-report-processing [1pt]"
Move - https://github.com/thoth-station/qeb-hwt/blob/7552be70cadf9d5a6f9ea686634dcc9bd40bd254/thoth/qeb_hwt/utils.py#L25
to report-processing, create a static method.

[2020-06-25 21:15] saisankargochhayat commented on #62
@pacospace Do we need to add source_type here - https://github.com/thoth-station/qeb-hwt/blob/acd8143b5b9840a827a46ed64320442787c66ed3/app.py#L135
As it calls `/qeb-hwt` route and its the only integration that calls that route, where do you want to add the `source_type`?
And checks are only done in the https://github.com/thoth-station/common/blob/ba3ff3d6cd01f3427cc5c4893c03baed2d18ef24/thoth/comm

[2020-06-26 14:01] saisankargochhayat commented on #62
https://github.com/thoth-station/workflow-helpers/blob/d04673785a6d861b9af60ac7e90ffa563ca443e2/qeb_thamos_advise.py#L100
Already added here.

[2020-06-26 14:01] #62 closed

[2020-06-29 19:14] sesheta commented on #56
Automatic dependency update still failing for the current master with SHA 7552be70cadf9d5a6f9ea686634dcc9bd40bd254.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-08 10:12] #63 closed

[2020-07-08 10:12] sesheta commented on #56
Automatic dependency update still failing for the current master with SHA c3b072257ffcfebef06907a1457eda1ab5847f1d.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-08 19:03] sesheta commented on #56
Automatic dependency update still failing for the current master with SHA 58fcde5be576c48cc09b8ad05b3ec4c5ed07d3e1.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-08 19:11] saisankargochhayat commented on #61
Moved with #64

[2020-07-08 19:11] #61 closed

[2020-07-08 19:34] sesheta commented on #56
Automatic dependency update still failing for the current master with SHA eca3c1e87c3a2e47477dda52c270cc472f05e6b2.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

<details>
  <summary>Dependency graph</summary>

[cod

[2020-07-08 20:13] saisankargochhayat opened #67 "Kebechet info"

[2020-07-08 20:13] sesheta commented on #67
Information about dependency management for the current master branch with SHA eca3c1e87c3a2e47477dda52c270cc472f05e6b2.

<details>
  <summary>Dependency graph</summary>

[code]

</details>

<details>
  <summary>Environment details</summary>

[code]

</details>

[2020-07-08 20:13] #67 closed

[2020-07-21 18:56] saisankargochhayat opened #70 "Kebechet update"

[2020-07-21 18:58] sesheta commented on #56
Closing this issue as it is no longer relevant for the current master with SHA ceb18369fdcfc10110cc85b5e23309c4fc6dc11e.

[2020-07-21 18:58] #56 closed

[2020-07-21 19:00] sesheta commented on #55
Closing this issue as it is no longer relevant for the current master with SHA ceb18369fdcfc10110cc85b5e23309c4fc6dc11e.

[2020-07-21 19:00] #55 closed

[2020-07-21 19:13] sesheta commented on #70
Closing this issue as it is no longer relevant for the current master with SHA ceb18369fdcfc10110cc85b5e23309c4fc6dc11e.

[2020-07-21 19:13] #70 closed

[2020-08-04 06:18] sentry-io[bot] opened #76 "TypeError: __init__() got an unexpected keyword argument 'suspended_by'"
Sentry Issue: [THOTH-1P3T](https://sentry.io/organizations/thoth-station/issues/1821938764/?referrer=github_integration)

[code]

[2020-08-06 05:34] sentry-io[bot] opened #77 "The following error has happened while trying to grab installations list: ClientConnectorError(Co..."
Sentry Issue: [THOTH-1P53](https://sentry.io/organizations/thoth-station/issues/1826563549/?referrer=github_integration)

[code]

[2020-08-11 02:10] harshad16 opened #78 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-08-11 02:11] #78 closed

[2020-08-11 05:58] fridex opened #91 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2020-08-11 06:04] #91 closed

[2020-08-12 15:32] pacospace opened #93 "Testing Qeb-Hwt"
**Is your feature request related to a problem? Please describe.**
Testing Qeb-Hwt currently is not possible as we have webhook coming in from bots and GH check runs goes back to GH PRs opened. Therefore having two apps deployed that send back GH check runs on the same PR is not something we can use.

**Describe the solution you'd like**
Proposed solution is to add two env variables in qeb-hwt log

[2020-08-25 19:50] goern opened #94 "GitHub API Changes affecting our applications"
[code]

/kind feature
/priority important-soon
/assign @saisankargochhayat

[2020-08-25 20:05] saisankargochhayat commented on #94
We handle these events when storing installation details for Kebechet [[PR](https://github.com/thoth-station/user-api/pull/896)], and it shouldn't affect us for the other app's if we aren't storing installation details.
CC - @pacospace we don't store installation details for qeb-hwt so this should be relevant?

[2020-08-26 07:24] pacospace commented on #94
From Qeb-Hwt we store:
[code]

we already use `installation` in Qeb-Hwt

[2020-09-03 13:47] sentry-io[bot] opened #100 "ClientConnectorError: Cannot connect to host khemenu.thoth-station.ninja:443 ssl:default [Name or service not known]"
Sentry Issue: [THOTH-1PAM](https://sentry.io/organizations/thoth-station/issues/1875041899/?referrer=github_integration)

[code]

[2020-09-08 13:41] #94 closed

[2020-09-11 07:34] goern commented on #100
@pacospace @saisankargochhayat do we need to have some kind of retry mechanism here?

/kind question

[2020-09-16 07:49] #54 closed

[2020-09-24 16:26] pacospace opened #106 "Kebechet update"

[2020-09-24 16:44] sesheta commented on #106
Closing this issue as it is no longer relevant for the current master with SHA be9b7d4b235f2d4d976338c9525c771c5485620d.

[2020-09-24 16:44] #106 closed

[2020-09-24 16:56] pacospace opened #110 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-09-24 17:01] sesheta commented on #110
Sorry, @pacospace but you are not stated in maintainers section for this project. Maintainers are @goern, @fridex

[2020-09-24 17:01] #110 closed

[2020-09-24 17:08] pacospace opened #112 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-09-24 17:10] pacospace opened #113 "Retrieve error logs and show them in check run"
**Is your feature request related to a problem? Please describe.**
As User of Qeb-Hwt,

I would like to receive logs in the check run when adviser fails to provide an advise: https://github.com/thoth-station/qeb-hwt/pull/111/checks?check_run_id=1161741433

**Describe the solution you'd like**
- [ ] Retrieve logs from Ceph using adviser ID and show them nicely in the check run.

**Describe alternat

[2020-09-24 17:12] fridex commented on #113
Do we want to rather provide a link to check them in a different view? This component can be then linked from CLI, build logs, etc. Later extended with knowledge about software stack.

[2020-09-24 17:13] pacospace commented on #113
Sounds good, where do we do that?

[2020-09-24 17:14] todo[bot] opened #115 "already solved (#102)"
https://github.com/thoth-station/qeb-hwt/blob/81a895c17269d7a496ff63e20c03604cd8eaa9eb/CHANGELOG.md#L150-L155

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 81a895c17269d7a496ff63e20c03604cd8eaa9eb when #114 was merged. cc @thoth-station.

[2020-09-24 17:14] #112 closed

[2020-09-24 17:14] fridex commented on #113
A small JS application that would consume the advise log endpoint would be nice to have. Maybe @goern has it?

[2020-09-24 17:14] todo[bot] opened #116 "already solved (#102)"
https://github.com/thoth-station/qeb-hwt/blob/19d3d3f05cf080c26ce84437e6149beef68b68d4/CHANGELOG.md#L150-L155

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO` comment in 19d3d3f05cf080c26ce84437e6149beef68b68d4. It&#x27;s been assigned to @sesheta because they committed the code.

[2020-09-28 18:27] goern commented on #113
erm... kind of :) https://github.com/goern/qeb-hwt-website

/kind feature

[2020-09-28 18:50] goern commented on #113
https://qeb-hwt.thoth-station.ninja/?adviser_document_id=ae329d5b is a deployment of that website using the MOC API so whatever adviser document is present at https://api.moc.thoth-station.ninja/api/v1/advise/python could be visualized...

[2020-10-01 20:21] #116 closed

[2020-10-01 20:21] #115 closed

[2020-10-08 15:14] pacospace commented on #93
other solution implemetend in https://github.com/thoth-station/thoth-application/pull/550

[2020-10-08 15:14] #93 closed

[2020-10-09 07:43] sentry-io[bot] opened #117 "TypeError: on_pr_open_or_sync() missing 1 required keyword-only argument: 'installation'"
Sentry Issue: [THOTH-1PHV](https://sentry.io/organizations/thoth-station/issues/1945120198/?referrer=github_integration)

[code]

[2020-11-06 08:09] goern commented on #36
uh... spacetime lost

ja, let's do that.

/assign @pacospace

[2020-11-16 11:36] #36 closed

[2020-11-26 13:17] pacospace opened #135 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2020-11-26 13:23] #135 closed

[2020-11-26 14:40] harshad16 commented on #117
This happens when the webhook event is coming from repository webhook , instead of webhook from qebhwt app.
As the payload in the app has embedded installation id.

[2020-11-27 08:00] goern commented on #117
/kind bug
/assign @saisankargochhayat
/priority critical-urgent

[2020-11-30 17:38] saisankargochhayat commented on #117
I think we shouldn't change anything here as the only webhook it should react to is the app's right?
@pacospace @harshad16

[2020-11-30 17:44] saisankargochhayat commented on #117
I think removing the manual hook, should resolve this - https://github.com/thoth-station/srcops-testing/settings/hooks

[2020-11-30 17:46] harshad16 commented on #117
i don't feel this is critical.
it was only observed during testing as stated , if we would like to continue testing in the same fashion, then we should invest time on this.

Current arch:
stage: app webhook -> stage cluster qebhwt
test: repo webhook -> test cluster qebhwt

[2020-11-30 17:46] saisankargochhayat commented on #117
I have removed the webhook, we can close this for now.

[2020-11-30 17:46] #117 closed

[2020-11-30 17:49] saisankargochhayat commented on #117
One other way to test, which I use for kebechet is use a sample repo and install the app on it, that way we would get the webhooks which would be similar to all other installations as well, so we don't need to handle those separately.

[2020-11-30 18:39] harshad16 commented on #117
sorry didn't understand the flow , if we install the app on a sample repo, still the app would send the webhook to a prod/stagging environment.
How would test work on testing environment?

[2020-11-30 18:50] saisankargochhayat commented on #117
Sorry, you are right, the developer would have to use a sample app, and point that to the test webhook-url.

[2020-12-08 08:38] pacospace opened #137 "HTTPError: 503 Server Error: Service Unavailable for url: http://qeb-hwt-webhook-receiver-aicoe-prod-bots.apps.ocp4.prod.psi.redhat.com/"
[code]

[2020-12-08 12:45] #137 closed

[2020-12-11 12:08] goern opened #139 "qeb-hwt is unavailable!"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
unknown

/kind bug
/priority critical-urgent

[2020-12-11 13:38] harshad16 commented on #139
is this happening in the rh-us-east openshift cluster ?
As this issue was fixed with update octomachinery and a new release of the qebhwt : quay.io/thoth-station/qeb-hwt-webhook-receiver:v0.3.2
I just updated this image in the rh-us-east cluster, it has solved the issue.
if you observe it somewhere else, it would be easy to debug if you provide, cluster information.

[2021-01-21 09:21] fridex commented on #100
Is this still relevant?

[2021-01-21 09:47] fridex commented on #32
Let's move discussion to https://github.com/thoth-station/qeb-hwt/issues/32 Thanks for reporting this, we should definitely improve this :+1:

[2021-01-21 09:47] #32 closed

[2021-01-21 09:49] fridex commented on #50
This would be nice to have, also present in docs at https://thoth-station.ninja/docs/developers/adviser/integration.html#kebechet-github-application

[2021-01-21 09:51] fridex commented on #46
This can be accomplished using `thamos check` which will check the content of .thoth.yaml.  We could reuse the functionality here (thamos library provides this functionality as a function). Additional parameters might be required to restrict this, feel free to open RFE.

[2021-01-21 10:02] fridex commented on #20
Is this still relevant?

[2021-01-21 10:02] fridex commented on #19
Is this still relevant?

[2021-01-21 10:05] pacospace commented on #100
not anymore, check runs are provided successfully to PRs :)

[2021-01-21 10:05] #100 closed

[2021-01-21 11:31] pacospace commented on #139
we can close this, as qeb-hwt is running successfully!

[2021-01-21 11:31] #139 closed

[2021-01-21 11:39] pacospace opened #140 "Do not re run qeb hwt at each event"
**Describe the bug**
Do not re run qeb hwt at each event

**To Reproduce**
Steps to reproduce the behavior:
1. Change title in PR?

**Expected behavior**
Check run is not rerun at each event (change title of PR)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2021-01-21 11:45] pacospace commented on #46
Thanks we should do that indeed and we should also improve: https://github.com/thoth-station/workflow-helpers/blob/32652c9e5bbd0523598a1b947bcc51e800eaefd2/qeb_thamos_advise.py#L43

[2021-01-21 11:46] pacospace opened #142 "update docs in qeb-hwt readme file"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-21 12:42] goern commented on #142
/sig documentation
/assign @pacospace

[2021-01-21 12:43] goern commented on #140
what is the question or proposal here?!

[2021-01-21 12:44] goern commented on #50
/sig documentation
/sig user-experience
/assign @pacospace

[2021-01-22 11:49] pacospace commented on #140
For example when the title of the PR is modified qeb-hwt restarts. I don't expect that to happen. The idea would be if possible to filter events like that to avoid re triggering the check run. wdyt?

[2021-01-26 15:54] pacospace commented on #19
It is not implemented yet actually. Nor the best solution has been selected for implementation. wdyt @fridex ?

[2021-03-15 14:07] sentry-io[bot] opened #143 "TypeError: __init__() got an unexpected keyword argument 'has_multiple_single_files'"
Sentry Issue: [THOTH-1PK1](https://sentry.io/organizations/thoth-station/issues/1986239902/?referrer=github_integration)

[code]

[2021-03-15 14:08] goern commented on #143
/kind bug

[2021-03-15 20:41] sentry-io[bot] opened #146 "Unclosed connection"
/kind bug

Sentry Issue: [THOTH-1PMH](https://sentry.io/organizations/thoth-station/issues/2163070923/?referrer=github_integration)

[code]

[2021-03-17 07:48] pacospace commented on #19
there is a conclusion state in check run specific `timed_out` https://docs.github.com/en/rest/reference/checks#runs

[2021-03-25 14:40] harshad16 commented on #143
will first try this out with new version release
and then will dig deeper on this issue.

[2021-03-25 16:00] harshad16 opened #148 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-03-26 02:37] #148 closed

[2021-03-26 02:38] harshad16 opened #149 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-03-26 02:41] #149 closed

[2021-03-26 02:42] harshad16 opened #150 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-03-26 02:51] #150 closed

[2021-03-26 07:34] goern commented on #143
looks like the error persists, on avg 8 times per hour in the last 24hrs...

[2021-03-26 07:35] goern commented on #143
is this a new qeb-hwt release or octomachinery?

[2021-03-26 13:06] harshad16 commented on #143
The intention was to see if the new dependencies that are update for qebhwt (not octomachinery)
how it didn't work and gave out another error #152

[2021-03-26 13:07] sentry-io[bot] opened #152 "AttributeError: 'str' object has no attribute 'decode'"
Sentry Issue: [THOTH-1PYF](https://sentry.io/organizations/thoth-station/issues/2298108481/?referrer=github_integration)

[code]

[2021-03-29 02:02] harshad16 commented on #152
The correct fix is opened on upstream : https://github.com/sanitizers/octomachinery/issues/46
However we would move to the hotfix: https://github.com/thoth-station/qeb-hwt/pull/153

[2021-03-29 02:18] harshad16 opened #154 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-03-29 02:27] #154 closed

[2021-04-17 00:26] sesheta commented on #25
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 01:26] sesheta commented on #57
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 02:25] sesheta commented on #76
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-17 02:25] sesheta commented on #77
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-21 14:32] sesheta commented on #50
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-21 14:32] goern commented on #50
/close
this feature will be migrated and the app itself EOL

[2021-04-21 14:33] #50 closed

[2021-04-21 14:33] sesheta commented on #50
@goern: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/50#issuecomment-824109725):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2021-04-23 20:55] goern commented on #46
/label hacktoberfest
/label "good first issue"

[2021-04-28 14:33] sesheta commented on #140
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-28 14:33] sesheta commented on #142
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-28 14:33] sesheta commented on #20
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-28 17:33] sesheta commented on #18
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-04-29 20:33] sesheta commented on #113
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-05-17 05:33] sesheta commented on #25
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-17 05:33] sesheta commented on #57
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-17 05:33] sesheta commented on #76
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-17 05:33] sesheta commented on #77
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-19 07:55] sentry-io[bot] opened #156 "TypeError: on_pr_open_or_sync() missing 1 required keyword-only argument: 'installation'"
Sentry Issue: [THOTH-1QV6](https://sentry.io/organizations/thoth-station/issues/2406208425/?referrer=github_integration)

[code]

[2021-05-27 07:22] goern commented on #156
/kind bug
/assign @KPostOffice

[2021-05-28 15:21] sesheta commented on #20
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-28 15:21] sesheta commented on #142
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-28 15:21] sesheta commented on #140
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-28 18:22] sesheta commented on #18
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-05-29 21:24] sesheta commented on #113
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-06-13 23:05] sesheta commented on #146
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-15 08:55] sesheta commented on #19
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-16 07:14] sesheta commented on #25
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-06-16 07:14] sesheta commented on #57
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-06-16 07:14] sesheta commented on #76
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-06-16 07:14] #25 closed

[2021-06-16 07:14] #57 closed

[2021-06-16 07:14] sesheta commented on #77
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-06-16 07:14] sesheta commented on #57
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/57#issuecomment-862113374):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-06-16 07:14] sesheta commented on #25
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/25#issuecomment-862113370):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-06-16 07:14] sesheta commented on #76
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/76#issuecomment-862113388):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-06-16 07:14] #76 closed

[2021-06-16 07:14] #77 closed

[2021-06-16 07:14] sesheta commented on #77
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/77#issuecomment-862113394):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-06-24 15:48] sesheta commented on #143
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-27 04:17] sesheta commented on #152
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2021-06-27 16:04] sesheta commented on #142
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-06-27 16:04] sesheta commented on #20
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-06-27 16:04] #20 closed

[2021-06-27 16:04] sesheta commented on #140
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-06-27 16:04] sesheta commented on #142
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/142#issuecomment-869186838):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-06-27 16:04] #142 closed

[2021-06-27 16:04] sesheta commented on #20
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/20#issuecomment-869186841):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-06-27 16:04] #140 closed

[2021-06-27 16:04] sesheta commented on #140
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/140#issuecomment-869186843):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-06-27 19:05] sesheta commented on #18
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-06-27 19:05] #18 closed

[2021-06-27 19:05] sesheta commented on #18
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/18#issuecomment-869210587):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-06-28 22:08] sesheta commented on #113
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-06-28 22:08] #113 closed

[2021-06-28 22:08] sesheta commented on #113
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/113#issuecomment-870078002):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-14 02:03] sesheta commented on #146
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 02:02] sesheta commented on #46
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 07:42] sesheta commented on #156
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 07:42] #156 closed

[2021-07-15 07:42] sesheta commented on #156
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/156#issuecomment-880471824):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-15 08:23] #46 closed

[2021-07-16 02:04] sesheta commented on #19
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-16 08:38] pacospace commented on #19
component deprecated!

[2021-07-16 08:38] #19 closed

[2021-07-25 14:05] sesheta commented on #143
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-25 14:05] #143 closed

[2021-07-25 14:05] sesheta commented on #143
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/143#issuecomment-886207153):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-27 05:06] sesheta commented on #152
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-27 05:06] sesheta commented on #152
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-23 20:42] sesheta commented on #146
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-26 05:45] sesheta commented on #152
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-26 05:45] sesheta commented on #152
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/152#issuecomment-906112417):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-09-22 23:30] sesheta commented on #146
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-22 23:30] sesheta commented on #146
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-22 23:30] #146 closed

[2021-09-22 23:30] sesheta commented on #146
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/qeb-hwt/issues/146#issuecomment-925400854):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2022-06-03 17:34] harshad16 opened #171 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-06-03 17:55] #171 closed